/* highlight unknown words */
.kanji-knowledge-none .wpt {
  background-color: #666;
}

.word-tracker-percent {
  margin-right: .5em;
  color: bisque
}

.word-tracker-word-count-large {
  padding-left: 1rem;
}